body{
background-image: linear-gradient(to right, #e4afcb 0%, #b8cbb8 0%, #b8cbb8 0%, #e2c58b 30%, #c2ce9c 64%, #7edbdc 100%);
}

h1, h2, h3{
    margin: 0;
}


.header{
    width: 100%;
    padding: 15px 0;
    text-align: center;
    font-size: 24px;
    font-weight: 300;
    color: gray;


}

.header__logo{
    color: inherit;
    text-decoration: none;

}
.hero{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.container{
    max-width: 1230px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;

}

.hero__container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    grid-gap: 20px;

}

.hero__about{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero__title{
    margin-bottom: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 48px;
    line-height: 1.1;
}

.hero__subtitle{
    font-size: 32px;
    font-weight: 400;

}

.hero__links{
    display: flex;
    
}

.hero__linkvk{
    margin-right: 10px;
    font-size: 30px;
    color: rgb(23, 31, 255);
}
.hero__linkwhatsapp{
    margin-right: 10px;
    font-size: 30px;
    color: rgb(96, 207, 0);
}
.hero__linkyoutube{
    margin-right: 10px;
    font-size: 30px;
    color: rgb(231, 8, 8);
}
.hero__linktwitch{
    margin-right: 10px;
    font-size: 30px;
    color: rgb(128, 0, 187);
}



.hero__box{
    max-width: 700x;
    
    justify-self: center;
    overflow: hidden;
    background-image: linear-gradient(to right, #e4afcb 0%, #b8cbb8 0%, #b8cbb8 0%, #e2c58b 30%, #c2ce9c 64%, #7edbdc 100%);
    
    border: 10px solid #fff;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
    animation: ava-animate 5s infinite alternate; 
}

.hero__box img{
    animation: ava-bg 3s infinite alternate;
}

@media screen and (max-width: 978px)
{
.hero{
    padding-top: 30px;
}
    
.hero__container{
    grid-row-gap: 20px;
}

.hero__title{
    font-size: 28px;
    margin-bottom: 10px;
}
.hero__subtitle{
    font-size: 22px;
    font-weight: 400;
}
.hero__description{
    font-size: 14px;
}
.hero__about{
    text-align: center;
}
.hero__links{
    justify-content: center;
}
.hero__box{
    max-width: 350px;
    max-height: 350px;
}
}

@keyframes ava-animate {
  0% { border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
}

  40% { border-radius: 50% 50% 44% 56% / 54% 45% 55% 46%;
}

  60% { border-radius: 45% 55% 58% 42% / 41% 54% 46% 59%;
}

  80% { border-radius: 50% 50% 47% 53% / 56% 45% 55% 44%;
}

  100% { border-radius: 54% 46% 51% 49% / 38% 51% 49% 62%;
}

@keyframes ava-bg {
  from  {
    backdrop-filter: hue-rotate(0);
}
to{
    backdrop-filter: hue-rotate(90deg);
}